<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <nav class="nav-bar">
  <div>
  <a href="/products">Home</a>
  <a href="/products/new">Create a Product</a>
  </div>
  </nav>
    <%= yield %>
  </body>
</html>
